* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
}

.container {
    display: flex;
    justify-content: center;
    margin: 100px auto;
    width: 40%;
    border-radius: 10px;
}

.product-img {
    min-width: 50%;
}

.image-desk {
    width: 100%;
    min-height: 100%;
    border-radius: 10px 0 0 10px;
}
.image-mob{
    max-width:375px ;
}

.contain {
    background-color: hsl(0, 0%, 100%);
    min-width: 50%;
    border-radius: 0 10px 10px 0;
    padding: 20px 50px;
    min-height: 100%;
}

.main-head-of-product {
    letter-spacing: 2px;
    padding-top: 10px;
    color: hsl(228, 12%, 48%);
    font-weight: lighter;
    padding-bottom: 25px;
}

.scondary-head-of-product {
    color: hsl(212, 21%, 14%);
    padding-bottom: 25px;
}

.intro-of-prodcut {
    color: hsl(228, 12%, 48%);
    padding-bottom: 25px;
}

.price-of-product {
    color: hsl(158, 36%, 37%);
    padding-bottom: 25px;
}

.old-price {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-size: 12px;
    font-weight: lighter;
    padding-left: 10px;
}

.add-cart {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
}

.add-cart:active {
    background-color: hsl(158, 36%, 21%);
}
.image-mob{
    display: none;
}

@media (max-width:376px) {
    .container {
        flex-direction: column;
      min-width: 85%;
    }
    .contain{
        border-radius: 0 0 10px 10px;
    }
    .image-desk{
        display: none;
    }
    .image-mob{
        display: block;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
}